@use "./variables.scss" as variables;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 4rem);
  gap: 2rem;
  padding-bottom: 5dvh;

  .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .loadingLabel {
      font-weight: 400;
      color: variables.$text-secondary;
    }

    .loadingText {
      color: variables.$text-tertiary;
    }
  }
}
