$background-primary: #101010;
$background-secondary: #191919;
$background-tertiary: #252525;

$border-primary: #303030;
$border-secondary: #252525;
$border-tertiary: #505050;

$text-primary: #ffffff;
$text-secondary: #cccccc;
$text-tertiary: #888888;

$accent: #f144b7;
