@use "../app/variables.scss" as variables;

.name {
  color: variables.$text-primary;
  background: variables.$background-tertiary;
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  position: relative;

  .content {
    transition: 0.2s ease;
    transform: translateX(calc(0.25rem + 0.5ch));
  }

  .icon {
    opacity: 0;
    transition: 0.2s ease;
    transform: translateX(calc(0.25rem + 0.5ch));
  }

  .email {
    position: absolute;
    opacity: 0;
    transform: translate(calc(100% - 10px + 0.75rem), -50%);
    transition: 0.2s ease;
    top: 50%;
    right: 0;
    background: variables.$background-secondary;
    border: 1px solid variables.$border-primary;
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 0.5rem;
      width: 0.5rem;
      background: variables.$background-secondary;
      border-left: 1px solid variables.$border-primary;
      border-bottom: 1px solid variables.$border-primary;
      z-index: 1;
      transform: translate(calc(-50% - 1px), -50%) rotate(45deg);
    }
  }

  &:hover {
    .content {
      transform: translateX(0);
    }

    .icon {
      transform: translateX(0);
      opacity: 0.25;
    }

    .email {
      opacity: 1;
      transform: translate(calc(100% + 0.75rem), -50%);
    }
  }
}
