@use "../app/variables.scss" as variables;

.listElement,
.listElementUnseen {
  list-style: none;
  display: flex;
  width: 100%;

  .mail,
  .selectedMail {
    display: flex;
    gap: 1rem;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid variables.$border-secondary;
    transition: 0.2s ease;
    text-decoration: none;
    color: inherit;
    font-size: 0.9rem;
    width: 100%;
    align-items: center;

    &:hover {
      background: variables.$background-secondary;
    }

    .buttons {
      display: flex;
      gap: 0.5rem;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        transition: 0.2s ease;
        fill: variables.$border-tertiary;

        &:hover {
          background: variables.$background-tertiary;
        }

        .selector {
          fill: variables.$border-tertiary;
        }

        .selected {
          fill: variables.$accent;
        }
      }
    }

    .sender {
      width: 12dvw;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-right: 1rem;
      color: variables.$text-secondary;
    }

    .preview {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 70%;
      color: variables.$text-tertiary;

      .subject {
        color: variables.$text-primary;
      }
    }

    .date {
      margin-left: auto;
      color: variables.$text-tertiary;
      font-size: 0.8rem;
      white-space: nowrap;
    }
  }

  .selectedMail {
    background: rgba(variables.$accent, 0.1);

    &:hover {
      background: rgba(variables.$accent, 0.15);
    }
  }

  &:last-child {
    .mail,
    .selectedMail {
      border-bottom: none;
    }
  }
}

.listElementUnseen {
  .mail,
  .selectedMail {
    font-weight: 500;
    background: variables.$background-secondary;

    &:hover {
      background: variables.$background-tertiary;
    }
  }

  .selectedMail {
    background: rgba(variables.$accent, 0.12);

    &:hover {
      background: rgba(variables.$accent, 0.16);
    }
  }
}
