@use "../app/variables.scss" as variables;

.sidebar {
  position: fixed;
  top: 0;
  right: 0;

  .menu {
    background: variables.$background-secondary;
    padding: 2rem;
  }

  .morph {
    fill: variables.$background-secondary;
  }
}
