@use "../app/variables.scss" as variables;
@use "sass:color" as color;

.navbar {
  height: 4rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;

  .appNameLink {
    color: inherit;
    text-decoration: none;
    margin-left: 0.5rem;

    .appName {
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      gap: 0.75rem;

      .icon {
        opacity: 0.5;
      }
    }
  }

  .hamburgerContainer {
    display: none;
    margin-left: auto;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}

.links,
.visibleLinks {
  display: none;
  position: fixed;
  top: 4rem;
  right: 0;
  bottom: 0;
  padding-inline: 1rem;
  background: variables.$background-primary;
  border-left: 1px solid variables.$border-primary;
  z-index: 999;
  display: flex;
  align-items: right;
  transform: translateX(100%);
  transition: 0.2s ease;
  min-width: 60%;
  flex-direction: column;
  gap: 1.5rem;

  @media screen and (max-width: 768px) {
    display: block;
  }

  .sendMailButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.75rem;
    width: 100%;
    background: variables.$background-tertiary;
    color: variables.$text-primary;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.2s ease;
    gap: 0.7rem;

    &:hover {
      background: color.adjust(variables.$background-tertiary, $lightness: +5%);
    }

    .icon {
      opacity: 0.25;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .listItem {
      list-style: none;

      .link,
      .selectedLink {
        color: variables.$text-secondary;
        display: flex;
        gap: 0.5rem;
        padding: 0.75rem 1rem;
        background: variables.$background-secondary;
        border-radius: 0.5rem;
      }

      .selectedLink {
        border: 1px solid rgba(variables.$accent, 0.5);
        background: rgba(variables.$accent, 0.1);
      }
    }
  }
}

.visibleLinks {
  transform: translateX(0);
}
