@use "../app/variables.scss" as variables;
@use "sass:color" as color;

.sidebar {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 100dvh;
  padding-inline: 1rem;

  @media screen and (max-width: 768px) {
    display: none;
  }

  .sendMailButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.75rem;
    width: 100%;
    background: variables.$background-tertiary;
    color: variables.$text-primary;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.2s ease;
    gap: 0.7rem;

    &:hover {
      background: color.adjust(variables.$background-tertiary, $lightness: +5%);
    }

    .icon {
      opacity: 0.25;
    }
  }

  .linkList {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    position: relative;

    .selector {
      position: absolute;
      padding-inline: 1.25rem;
      border-radius: 1.25rem;
      height: 2.5rem;
      width: 100%;
      border: 1px solid rgba(variables.$accent, 0.35);
      background: rgba(variables.$accent, 0.05);
      pointer-events: none;
      transition: 0.2s ease;
    }

    .listItem {
      list-style: none;
      display: flex;

      .link {
        color: variables.$text-secondary;
        padding-inline: 1.25rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        background: variables.$background-secondary;
        font-size: 0.9rem;
        width: 100%;
        border-radius: 1.25rem;
        transition: 0.2s ease;

        &:hover {
          text-decoration: none;
          background: variables.$background-tertiary;
        }
      }
    }
  }
}
